header{
  height: 65px;
  display: flex;
  align-items: center;
  background-color: #000000;  
}

header 
.spotify-logo-container {
  height: 32px;
  width: 100px;
  padding: 0 0 0 27px;
}

.spotify-logo-container 
.spotify-logo {
  height: 100%;
  cursor: pointer;
}

header 
.home-icon-container {
  height: 48px;
  width: 365px;
  display: flex;
  justify-content: end;
  margin-right: 10px;
}

.home-icon-container 
.home-icon {
  height: 100%;
  border-radius: 50%;
  background-color: #1F1F1F;
  padding: 10px;
  cursor: pointer;
  transition: 0.15s;
}

.home-icon-container 
.home-icon:hover {
  filter: brightness(1.3);
  transform: scale(1.05);
}

header 
.Search-container {
  flex: 1;
  position: relative;
  transition: 0.15s;
}

header 
.Search-container:hover {
  filter: brightness(1.4);
}

.Search-container 
.search {
  background-color: #1F1F1F;
  border: 1px solid #1F1F1F;
  padding: 13px 20px;
  border-radius: 20px;
  width: 470px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding-left: 47px;
}

input::placeholder {
  color: rgb(160, 160, 160);
  font-weight: 500;
  font-size: 16px;
}

.Search-container
.search-icon-container {
  position: absolute;
  height: 27px;
  top: 10px;
  left: 9px;
}

.search-icon-container
.search-icon {
  height: 100%;
}

header 
.more-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 0px;
}

.more-container 
.download-icon-container{
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 35px;
}

.download-icon-container 
.download-icon {
  height: 18px;
  margin-right: 4px;
  margin-left: 25px;
}

.download-icon-container 
.install-app-text {
  color: rgb(160, 160, 160);
  font-size: 15px;
  font-weight: bold;
}

.more-container 
.notification-icon-container {
  height: 20px;
  margin-right: 20px;
}

.notification-icon-container 
.notification-icon,
.people-icon
 {
  height: 100%;
}

.more-container 
.people-icon-container {
  height: 20px;
}

.more-container
.profile-container {
  height: 45px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 10px;
}

.profile-container .profile {
  height: 100%;
  border-radius: 50%;
  padding: 8px;
  background-color: #1F1F1F;
}